// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Helvetica, Franklin Gothic Medium, Arial, sans-serif;
  background-image: image-url('sayagata-400px.png');
}

.tile {
  padding-top: 15px;
  padding-bottom: 15px;
}